/* your styles go here */
nav.side-navbar.my-navbar ul li.active > a, nav.side-navbar.my-navbar ul li:hover > a {
    background: #6ad26a;
    border-left: 4px solid #236c15;
}

body .page {
    background:#e2faed;
}

.btn-table li {
    display: inline-block;
}

.btn-table {
    padding: 0;
    margin: 0;
    list-style: none;
}

div#dataNasabah table.table {
    border: 1px solid #eee;
}

.login-page .form-holder .info {
    background: #28a745!important;
}

.content-inner-nasabah {
    width:100%;
}

.content-inner-nasabah .nasabah-fluid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-menu-nasabah ul li a:hover {
    text-decoration: none;
    color: orange;
}

.nav-menu-nasabah ul li a {
    padding-left: 20px;
    padding-right: 20px;
    color: green;
}
.nav-menu-nasabah ul {
    margin: 0;
    padding: 0;
}
.nav-menu-nasabah ul li {
    display: inline-block;
}

@media screen and (max-width:630px){
    .content-inner-nasabah .nasabah-fluid .nav-menu-nasabah {
        order: 2;
    }
    .content-inner-nasabah .nasabah-fluid .user-column {
        order: 1;
    }
    .user-column {
        margin: auto;
        padding-bottom: 15px;
    }
    .nav-menu-nasabah {
        margin: auto;
    }
}

@media screen and (max-width:380px){
    .nav-menu-nasabah ul li a {
        padding-left: 10px;
        padding-right: 10px;
    }
}