{% extends "layouts/master.php" %}

{% block head %}
Dashboard
{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">
            <!-- Item -->
            <div class="col-xl-4 col-sm-4">
                <div class="item d-flex align-items-center">
                <div class="icon bg-violet"><i class="icon-user"></i></div>
                <div class="title"><span>Total<br>Nasabah</span>
                    <div class="progress">
                    <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                    </div>
                </div>
                <div class="number"><strong>{{ total_nasabah }}</strong></div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-4 col-sm-4">
                <div class="item d-flex align-items-center">
                <div class="icon bg-red"><i class="icon-padnote"></i></div>
                <div class="title"><span>Total Simpanan<br><strong>{{ convertNumber(total_simpanan) }}</strong></span>
                    <div class="progress">
                    <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                    </div>
                </div>
                <div class="number"><strong></strong></div>
                </div>
            </div>
            <!-- Item -->
            <div class="col-xl-4 col-sm-4">
                <div class="item d-flex align-items-center">
                <div class="icon bg-green"><i class="icon-bill"></i></div>
                <div class="title"><span>Total Pinjaman<br>{{ convertNumber(total_pinjaman) }}</span>
                    <div class="progress">
                    <div role="progressbar" style="width: 100%; height: 4px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                    </div>
                </div>
                <div class="number"><strong></strong></div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="h4">Selamat Datang</h3>
                        </div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad necessitatibus minus inventore exercitationem velit? Quod, magni, non at temporibus consectetur illum soluta quasi aut laudantium vel commodi esse assumenda molestias.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}