{% extends "layouts/master.php" %}

{% block head %}
Tambah Nasabah
{% endblock %}

{% block title %}
Tambah Nasabah
{% endblock %}

{% block content %}


<section>
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="h4">Form Nasabah</h3>
                        </div>
                        <div class="card-body">
                            <p>Mohon mengisi seluruh data dibawah.</p>
                            <form action="/admin/nasabah/store" method="post">
                                <div class="form-group">
                                    <label class="form-control-label">Nama Nasabah</label>
                                    <input type="text" name="nama_nasabah" class="form-control" placeholder="Nama Lengkap Nasabah" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Tempat Lahir</label>
                                    <input type="text" name="tempat_lahir" class="form-control" placeholder="Tempat Lahir Nasabah" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Tanggal Lahir</label>
                                    <input type="date" name="tanggal_lahir" class="form-control datepicker" placeholder="Tanggal Lahir Nasabah" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Jenis Kelamin</label>
                                    <div class="i-checks">
                                        <input id="radioCustom2" type="radio" checked="true" value="l" name="jenis_kelamin" class="radio-template">
                                        <label for="radioCustom2">Laki - Laki</label>
                                    </div>
                                    <div class="i-checks">
                                        <input id="radioCustom2" type="radio" value="p" name="jenis_kelamin" class="radio-template">
                                        <label for="radioCustom2">Perempuan</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Pekerjaan</label>
                                    <input type="text" name="pekerjaan" class="form-control" placeholder="Pekerjaan Nasabah">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">No. Telp</label>
                                    <input type="text" name="no_telp" class="form-control" placeholder="No. Telepon Nasabah">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Alamat</label>
                                    <textarea name="alamat" class="form-control" placeholder="Alamat Lengkap Nasabah"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Email</label>
                                    <input type="email" name="email" required placeholder="Email Address" class="form-control">
                                </div>
                                <div class="form-group">       
                                    <label class="form-control-label">Password</label>
                                    <input type="password" name="password" required placeholder="Password" class="form-control">
                                </div>
                                    <div class="form-group">       
                                    <input type="submit" value="Tambah Nasabah" class="btn btn-primary float-right">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

{% endblock %}