{% extends "layouts/master.php" %}

{% block head %}
Nasabah
{% endblock %}

{% block title %}
Nasabah
{% endblock %}

{% block content %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Data Nasabah</h3>
                        </div>

                        <a href="/admin/nasabah/create" class="btn btn-primary">Tambah Nasabah</a>
                        <hr>    
                        <table class="table" id="my-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama Nasabah</th>
                                    <th>Pekerjaan</th>
                                    <th>No. Telp</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in nasabah %}
                                {% set number = ( number | default(0) ) + 1 %}
                                <tr>
                                    <td>{{ number }}</td>
                                    <td>{{ data.nama_nasabah }}</td>
                                    <td>{{ data.pekerjaan }}</td>
                                    <td>{{ data.no_telp }}</td>
                                    <td>{{ data.email }}</td>
                                    <td>
                                        <ul class="btn-table">
                                            <li><a href="#" data-placement="bottom" title="Lihat detail nasabah" data-toggle="modal" data-target="#detailNasabah" id="{{ data.id }}" class="btn btn-sm btn-info view-data"><i class="fa fa-eye"></i></a></li>                            
                                            <li><a href="/admin/nasabah/{{ data.id }}/edit" data-placement="bottom" title="Edit nasabah" class="btn btn-sm btn-warning"><i class="fa fa-cog"></i></a></li>
                                            <li>
                                                <form action="/admin/nasabah/{{ data.id }}/delete" method="post">
                                                    <li><button type="submit" data-placement="bottom" title="Hapus nasabah" class="btn btn-sm btn-danger" onclick="return confirm('Yakin akan hapus data?')" ><i class="fa fa-trash"></i></button></li>
                                                </form>
                                            
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="detailNasabah" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Nasabah</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="dataNasabah">
                <table class="table table-modal">
                    <tr>
                        <td>Nama Nasabah</td>
                        <td>:</td>
                        <td class="td_nama_nasabah"></td>
                    </tr>
                    <tr>
                        <td>Tempat Lahir</td>
                        <td>:</td>
                        <td class="td_tempat_lahir"></td>
                    </tr>
                    <tr>
                        <td>Tanggal Lahir</td>
                        <td>:</td>
                        <td class="td_tanggal_lahir"></td>
                    </tr>
                    <tr>
                        <td>Jenis Kelamin</td>
                        <td>:</td>
                        <td class="td_jenis_kelamin"></td>
                    </tr>
                    <tr>
                        <td>Pekerjaan</td>
                        <td>:</td>
                        <td class="td_pekerjaan"></td>
                    </tr>
                    <tr>
                        <td>Alamat</td>
                        <td>:</td>
                        <td class="td_alamat"></td>
                    </tr>
                    <tr>
                        <td>email</td>
                        <td>:</td>
                        <td class="td_email"></td>
                    </tr>
                    
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function(){
        $(".view-data").click(function(){
            var nasabah_id = $(this).attr('id');
            $.ajax({
                url:"/admin/nasabah/"+nasabah_id+"/detail",
                method:"POST",
                data:{
                    id : nasabah_id
                },
                dataType:"json",
                success:function(result){
                    var jk = result.jenis_kelamin;
                    if(jk == 'l'){
                        jk = "Pria";
                    } else {
                        jk = "Wanita";
                    }
                    $(".td_nama_nasabah").html(result.nama_nasabah);
                    $(".td_tempat_lahir").html(result.tempat_lahir);
                    $(".td_tanggal_lahir").html(result.tanggal_lahir);
                    $(".td_jenis_kelamin").html(jk);
                    $(".td_pekerjaan").html(result.pekerjaan);
                    $(".td_alamat").html(result.alamat);
                    $(".td_no_telp").html(result.no_telp);
                    $(".td_email").html(result.email);
                    
                }
            });
        });
    });
</script>

{% endblock %}