{% extends "layouts/master.php" %}

{% block head %}
Tambah Pinjaman
{% endblock %}

{% block title %}
Tambah Pinjaman
{% endblock %}

{% block content %}


<section>
    <div class="container-fluid">
            <a href="/admin/pinjaman">< Kembali</a>
            <br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h4">Form Pinjaman</h3>
                    </div>
                    <div class="card-body">
                        <p>Mohon mengisi seluruh data dibawah.</p>
                        <form action="/admin/pinjaman/store" method="post">
                            <div class="form-group">
                                <label for="" class="form-control-label">Pilih Nasabah</label>
                                <select name="nasabah_id" id="" class="form-control select2">
                                    {% for data in nasabah %}
                                        <option value="{{ data.id }}">{{ data.nama_nasabah }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Jumlah Pinjaman</label>
                                <input type="number" name="jumlah_pinjam" required class="form-control" placeholder="Jumlah Pinjaman">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Jangka Waktu</label>
                                <div class="input-group">
                                    <input type="number" name="jangka_waktu" required class="form-control" placeholder="Jangka Waktu Pinjaman">
                                    <div class="input-group-append">
                                        <span class="input-group-text">Tahun</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="form-control-label">Bunga Pinjaman</label>
                                <div class="input-group">
                                    
                                    <input type="text" name="bunga" class="form-control" placeholder="Bunga Pinjaman">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Jaminan</label>
                                <input type="text" name="jaminan" required placeholder="Jaminan" class="form-control">
                            </div>
                            <div class="form-grop">
                                <input type="submit" class="btn btn-primary pull-right" value="Simpan">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}