{% extends "layouts/master.php" %}

{% block head %}
Data Pinjaman
{% endblock %}

{% block title %}
Data Pinjaman
{% endblock %}

{% block content %}
<section>
    <div class="container-fluid">
          
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Data pinjaman</h3>
                        </div>

                            <a href="/admin/pinjaman/create" class="btn btn-primary">Tambah Pinjaman</a>
                        <hr>    
                        <table class="table" id="my-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama Nasabah</th>
                                    <th>Kode Pinjaman</th>
                                    <th>Jumlah Pinjaman</th>
                                    <th>Tanggal Pinjam</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in pinjaman %}
                                {% set number = ( number | default(0) ) + 1 %}
                                <tr>
                                    <td>{{ number }}</td>
                                    <td>{{ data.nama_nasabah }}</td>
                                    <td>{{ data.kode_pinjaman }}</td>
                                    <td>{{ convertNumber(data.jumlah_pinjam) }}</td>
                                    <td>{{ data.tanggal_pinjaman }}</td>
                                    <th>{{ getStatusPinjaman(data.status_pinjaman)|raw }}</th>
                                    <td>
                                        <ul class="btn-table">
                                            <li><a href="/admin/pinjaman/{{ data.id_pinjaman }}/data" data-placement="bottom" title="Lihat detail pinjaman"  class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="pinjamanDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Detail Nasabah</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="dataNasabah">
            <table class="table table-modal">
                <tr>
                    <td>Kode Pinjaman</td>
                    <td>:</td>
                    <td class="td_kode_pinjaman"></td>
                </tr>
                <tr>
                    <td>Nama Nasabah</td>
                    <td>:</td>
                    <td class="td_nama_nasabah"></td>
                </tr>
                <tr>
                    <td>Jumlah Pinjaman</td>
                    <td>:</td>
                    <td class="td_jumlah_pinjaman"></td>
                </tr>
                <tr>
                    <td>Tanggal Pinjaman</td>
                    <td>:</td>
                    <td class="td_tanggal_pinjaman"></td>
                </tr>
                <tr>
                    <td>Tanggal Jatuh Tempo</td>
                    <td>:</td>
                    <td class="td_tanggal_jatuh_tempo"></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>:</td>
                    <td class="td_status_pinjaman"></td>
                </tr>
                
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
{% endblock %}


{% block scripts %}

<script>
    $(document).ready(function(){
        $(".view-data").on('click', function(e){
            e.preventDefault();
            var nasabah_id = $(this).attr('id');
            var pinjaman_id = $(this).data('pinjaman-id');
            $.ajax({
                url:"/admin/nasabah/"+nasabah_id+"/pinjaman/"+pinjaman_id,
                method:"GET",
                dataType:"json",
                success:function(result){

                    

                    let status = (result.status_pinjaman === "0") ? '<span class="badge badge-danger">Belum lunas</span>':'<span class="badge badge-success">Sudah lunas</span>';
                    
                    $(".td_kode_pinjaman").html(result.kode_pinjaman);
                    $(".td_nama_nasabah").html(result.nama_nasabah);
                    $(".td_jumlah_pinjaman").html(result.jumlah_pinjam);
                    $(".td_tanggal_pinjaman").html(result.tanggal_pinjaman);
                    $(".td_tanggal_jatuh_tempo").html(result.tanggal_jatuh_tempo);
                    $(".td_status_pinjaman").html(status);
                    
                }
            });
        });
    });
</script>

{% endblock %}