{% extends "layouts/master.php" %}

{% block head %}
Tambah User
{% endblock %}

{% block title %}
Tambah User
{% endblock %}

{% block content %}


<section>
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="h4">Form User</h3>
                        </div>
                        <div class="card-body">
                            <p>Mohon mengisi seluruh data dibawah.</p>
                            <form action="/admin/user/store" method="post">
                                <div class="form-group">
                                    <label class="form-control-label">Nama Petugas</label>
                                    <input type="text" name="nama_user" class="form-control" placeholder="Nama Lengkap Petugas" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Tempat Lahir</label>
                                    <input type="text" name="tempat_lahir" class="form-control" placeholder="Tempat Lahir Petugas" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Tanggal Lahir</label>
                                    <input type="text" name="tanggal_lahir" class="form-control datepicker" placeholder="Tanggal Lahir Petugas" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Jenis Kelamin</label>
                                    <div class="i-checks">
                                        <input id="radioCustom2" type="radio" checked="true" value="l" name="jenis_kelamin" class="radio-template">
                                        <label for="radioCustom2">Laki - Laki</label>
                                    </div>
                                    <div class="i-checks">
                                        <input id="radioCustom2" type="radio" value="p" name="jenis_kelamin" class="radio-template">
                                        <label for="radioCustom2">Perempuan</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">No. Telp</label>
                                    <input type="text" name="no_telp" class="form-control" placeholder="No. Telepon Petugas">
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Alamat</label>
                                    <textarea name="alamat" class="form-control" placeholder="Alamat Lengkap Petugas"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Email</label>
                                    <input type="email" name="email" required placeholder="Email Address" class="form-control">
                                </div>
                                <div class="form-group">       
                                    <label class="form-control-label">Password</label>
                                    <input type="password" name="password" required placeholder="Password" class="form-control">
                                </div>
                                    <div class="form-group">       
                                    <input type="submit" value="Tambah Petugas" class="btn btn-primary float-right">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

{% endblock %}