{% extends "layouts/master.php" %}

{% block head %}
Edit Petugas
{% endblock %}

{% block title %}
Edit Petugas
{% endblock %}

{% block content %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h4">Form Petugas</h3>
                    </div>
                    <div class="card-body">
                        <p>Mohon mengisi seluruh data dibawah.</p>
                        <form action="/admin/user/{{ data.id }}/update" method="post">
                            <div class="form-group">
                                <label class="form-control-label">Nama Nasabah</label>
                                <input type="text" name="nama_user" class="form-control" placeholder="Nama Lengkap Petugas" required value="{{ data.nama_user }}">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Tempat Lahir</label>
                                <input type="text" name="tempat_lahir" class="form-control" placeholder="Tempat Lahir Petugas" required value="{{ data.tempat_lahir }}">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Tanggal Lahir</label>
                                <input type="text" name="tanggal_lahir" class="form-control datepicker" placeholder="Tanggal Lahir Petugas" required value="{{ data.tanggal_lahir }}">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Jenis Kelamin</label>
                                <div class="i-checks">
                                    <input id="radioCustom2" type="radio" {% if data.jenis_kelamin == 'l' %} checked="true" {% endif %} value="l" name="jenis_kelamin" class="radio-template">
                                    <label for="radioCustom2">Laki - Laki</label>
                                </div>
                                <div class="i-checks">
                                    <input id="radioCustom2" type="radio" {% if data.jenis_kelamin == 'p' %} checked="true" {% endif %} value="p" name="jenis_kelamin" class="radio-template">
                                    <label for="radioCustom2">Perempuan</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">No. Telp</label>
                                <input type="text" name="no_telp" class="form-control" placeholder="No. Telepon Petugas" value="{{ data.no_telp }}">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Alamat</label>
                                <textarea name="alamat" class="form-control" placeholder="Alamat Lengkap Petugas">{{ data.alamat }}</textarea>
                            </div>
                            
                            <div class="form-group">       
                                <input type="submit" value="Edit Petugas" class="btn btn-primary float-right">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}