{% extends "nasabah/layout.html" %}

{% block head %}
Detail Pinjaman Nasabah
{% endblock %}


{% block content_nasabah %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Angsuran nasabah</h3>
                        </div>
                           
                        <table class="table">
                            <tr>
                                <td width="45%"><strong>Kode Pinjaman</strong></td>
                                <td width="55%">{{ pinjaman.kode_pinjaman }}</td>
                            </tr>
                            <tr>
                                <td width="45%"><strong>Tanggal Pinjaman</strong></td>
                                <td width="55%">{{ pinjaman.tanggal_pinjaman }}</td>
                            </tr>
                            <tr>
                                <td width="45%"><strong>Tanggal Jatuh Tempo Pinjaman</strong></td>
                                <td width="55%">{{ getDueDate(pinjaman.tanggal_pinjaman, pinjaman.jangka_waktu) }}</td>
                            </tr>
                            
                            <tr>
                                <td width="45%"><strong>Total Pinjaman</strong></td>
                                <td width="55%">{{ convertNumber(pinjaman.jumlah_pinjam) }}</td>
                            </tr>

                            <tr>
                                <td width="45%"><strong>Sisa Pinjaman</strong></td>
                                <td width="55%">{{ convertNumber(pinjaman.jumlah_pinjam - total_angsuran) }}</td>
                            </tr>
                            <tr>
                                <td width="45%"><strong>Status Pinjaman</strong></td>
                                <td width="55%">{{ getStatusPinjaman(pinjaman.status_pinjaman)|raw }}</td>
                            </tr>
                            <tr>
                                <td width="45%"><strong>Bunga % </strong></td>
                                <td width="55%">{{ pinjaman.bunga }}%</td>
                            </tr>
                        </table>  
                        <table class="table" id="my-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Kode Angsuran</th>
                                    <th>Tanggal</th>
                                    <th>Bunga</th>
                                    <th>Bayar</th>
                                    <th>Keterangan</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if count(angsuran) == 0 %}
                                    <tr>
                                        <td colspan="6" align="center">Nasabah belum memiliki angsuran</td>
                                    </tr>
                                {% else %}
                                    {% for data in angsuran %}
                                    {% set number = ( number | default(0) ) + 1 %}
                                    <tr>
                                        <td>{{ number }}</td>
                                        <td>{{ data.kode_angsuran }}</td>
                                        <td>{{ data.tanggal_angsur }}</td>
                                        <td>{{ convertNumber(data.bunga) }}</td>
                                        <td>{{ convertNumber(data.jumlah) }}</td>
                                        <td>
                                           {{ data.keterangan }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}