{% extends "nasabah/layout.html" %}

{% block head %}
Welcome
{% endblock %}

{% block content_nasabah %}
    <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 class="text-center">Selamat Datang</h3>
                                </div>
                                <div class="card-body text-center">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta reprehenderit deserunt eos magni necessitatibus sit saepe nihil rerum itaque est! Aspernatur voluptatum magnam amet quaerat quos fugiat impedit eius iste? saepe nihil rerum itaque est! Aspernatur voluptatum magnam amet quaerat quos fugiat impedit eius iste?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}