<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{{ base_url() }}/public/templates/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="{{ base_url() }}/public/templates/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Fontastic Custom icon font-->
    <link rel="stylesheet" href="{{ base_url() }}/public/templates/css/fontastic.css">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{{ base_url() }}/public/templates/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{{ base_url() }}/public/templates/css/custom.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
    <!-- DATEPICKER -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    
    <title>{% block head %} {% endblock %} - Koperasi Koperasi Mertha Sentana</title>
    
</head>
<body>
    <div class="page">
        {% if(getAuthUser() == null) %}
            <!-- MAIN CONTENT -->
            {% block content_login %}
                
            {% endblock %}
        
        {% else %}
        
        {{ include('layouts/header.php') }}
        <div class="page-content d-flex align-items-stretch"> 
            
            <div class="content-inner content-inner-nasabah" style="padding-bottom: 59px;">
                <header class="page-header">
                    <div class="container-fluid nasabah-fluid">
                        <div class="nav-menu-nasabah">
                            <ul>
                                <li><a href="/nasabah/dashboard">Home</a></li>
                                <li><a href="/nasabah/simpanan">Simpanan</a></li>
                                <li><a href="/nasabah/pinjaman">Pinjaman</a></li>
                            </ul>
                        </div>
                        <div class="user-column">
                            <h2 class="no-margin-bottom">Halo, {{ getAuthUser().nama_nasabah }}</h2>                        
                        </div>
                    </div>
                </header>

                {% if(checkFlash('success')) %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success">{{ getFlash('success') }}</div>
                    </div>
                </div>
                {% endif %}

                {% if(checkFlash('error')) %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">{{ getFlash('error') }}</div>
                    </div>
                </div>
                {% endif %}
                <!-- MAIN CONTENT -->
                
                {% block content_nasabah %}
                
                {% endblock %}
                
                {{ include('layouts/footer.php') }}  
            
            </div>                      
        </div>
        {% endif %}
    </div>    
    <!-- JavaScript files-->
    <script src="{{ base_url() }}/public/templates/vendor/jquery/jquery.min.js"></script>
    <script src="{{ base_url() }}/public/templates/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="{{ base_url() }}/public/templates/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ base_url() }}/public/templates/vendor/bootstrap/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ base_url() }}/public/templates/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="{{ base_url() }}/public/templates/vendor/jquery-validation/jquery.validate.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

    <!-- Main File-->
    <script src="{{ base_url() }}/public/templates/js/front.js"></script>


    <script>
        $(document).ready(function() {
            $('#my-table').DataTable();
            
            $('.datepicker').datepicker({
                dateFormat: 'yy-mm-dd',
                changeYear: true,
                changeMonth: true,
                yearRange: '1950:2019'
            });

        });
    </script>

    {% block scripts %}

    {% endblock %}
</body>
</html>