{% extends "layouts/master.php" %}

{% block head %}
Login Nasabah
{% endblock %}

{% block title %}
Login Nasabah
{% endblock %}

{% block content_login %}
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>Login Nasabah</h1>
                  </div>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            
            <div class="col-lg-6 bg-white">
              {% if(checkFlash('error')) %}
              <div class="alert alert-warning">
                <strong>{{ getFlash('error') }}</strong>
              </div>
              {% endif %}
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form method="post" class="form-validate" action="/nasabah/login">
                    <div class="form-group">
                      <input id="login-email" type="text" name="loginemail" required data-msg="Please enter your email" class="input-material">
                      <label for="login-email" class="label-material">Email</label>
                    </div>
                    <div class="form-group">
                      <input id="login-password" type="password" name="loginpassword" required data-msg="Please enter your password" class="input-material">
                      <label for="login-password" class="label-material">Password</label>
                    </div><input type="submit" id="login" class="btn btn-success" value="Login">
                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}