{% extends "nasabah/layout.html" %}

{% block head %}
Pinjaman Nasabah
{% endblock %}


{% block content_nasabah %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center">Data Pinjaman Nasabah</h3>
                        </div>
                        <div class="card-body">
                            <table class="table" id="my-table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Kode Pinjaman</th>
                                        <th>Jumlah Pinjaman</th>
                                        <th>Tanggal jatuh tempo</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in pinjaman %}
                                    {% set number = ( number | default(0) ) + 1 %}
                                    <tr>
                                        <td>{{ number }}</td>
                                        <td>{{ data.kode_pinjaman }}</td>
                                        <td>{{ convertNumber(data.jumlah_pinjam) }}</td>
                                        <td>{{ data.tanggal_jatuh_tempo }}</td>
                                        <th>{{ getStatusPinjaman(data.status_pinjaman)|raw }}</th>
                                        <td>
                                            <ul class="btn-table">
                                                <li><a href="/nasabah/pinjaman/{{ data.id_pinjaman }}/angsuran" data-placement="bottom" title="Lihat detail pinjaman"  class="btn btn-sm btn-info"><i class="fa fa-eye"></i> Lihat Detail Pinjaman</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}