{% extends "nasabah/layout.html" %}

{% block head %}
Simpanan Nasabah
{% endblock %}


{% block content_nasabah %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center">Data Simpanan Nasabah</h3>
                        </div>
                        <div class="card-body">
                            <h4>Total Simpanan: <span class="badge badge-success">{{ convertNumber(simpanan.total_simpanan) }}</span></h4>
                            <table class="table" id="my-table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>No. Nasabah</th>
                                        <th>Tanggal</th>
                                        <th>Jumlah</th>
                                        <th>Jenis Mutasi</th>
                                        <th>Keterangan</th>
                                    </tr>
                                </thead>
                                <tbody>
    
                                    {% for data in mutasi %}
                                    {% set number = ( number | default(0) ) + 1 %}
    
                                    <tr>
                                        <td>{{ number }}</td>
                                        <td>{{ simpanan.kode_simpanan }}</td>
                                        <td>{{ data.tanggal }}</td>
                                        <td>Rp. {{ convertNumber(data.jumlah) }}</td>
                                        <td>{{ getJenis(data.jenis_mutasi) }}</td>
                                        <td>{{ data.keterangan }}</td>
                                    </tr>
    
                                    {% endfor %}
                                </tbody>
                            </table> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}