{% extends "layouts/master.php" %}

{% block head %}
Tambah Transaksi 
{% endblock %}

{% block title %}
Tambah Transaksi 
{% endblock %}

{% block content %}


<section>
    <div class="container-fluid">
        <a href="/admin/simpanan">< Kembali</a>
        <br><br>
        <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="h4">Form Transaksi Nasabah</h3>
                        </div>
                        <div class="card-body">
                            <form action="/admin/simpanan/mutasi" method="post">
                                <div class="form-group">
                                    <label class="form-control-label">No. Nasabah</label>
                                    <input type="text" name="kode_simpanan" value="{{ nasabah.kode_simpanan }}" class="form-control" placeholder="Nama Lengkap Nasabah" required readonly>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Nama Nasabah</label>
                                    <input type="text" name="nama_nasabah" value="{{ nasabah.nama_nasabah }}" class="form-control" placeholder="Nama Lengkap Nasabah" required readonly>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Tanggal</label>
                                    <input type="text" name="tanggal" id="date" value="" class="form-control" placeholder="Tanggal" required readonly>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Tipe Mutasi</label>
                                    <select name="jenis_mutasi" class="form-control" required>
                                        <option value=""> - Pilih - </option>
                                        <option value="1">Setoran</option>
                                        <option value="0">Penarikan</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Nominal</label>
                                    <input type="number" name="jumlah" value="" class="form-control" placeholder="Nominal" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Keterangan</label>
                                    <textarea name="keterangan" value="" class="form-control" placeholder="Keterangan"></textarea>
                                </div>
                                <div class="form-group">       
                                    <input type="submit" value="Tambah Transaksi" class="btn btn-primary float-right">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script>
var today = new Date();
var d = String(today.getDate()).padStart(2, '0');
var m = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var y = today.getFullYear();

$('#date').val(y + "-" + m + "-" + d);
</script>
{% endblock %}