{% extends "layouts/master.php" %}

{% block head %}
Data Simpanan Nasabah
{% endblock %}

{% block title %}
Data Simpanan Nasabah
{% endblock %}

{% block content %}

<section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Daftar Simpanan</h3>
                        </div>

                        <table class="table" id="my-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>No. Nasabah</th>
                                    <th>Nama Nasabah</th>
                                    <th>Total Simpanan</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                  

                                {% for data in simpanan %}
                                {% set number = ( number | default(0) ) + 1 %}
                                <tr>
                                    <td>{{ number }}</td>
                                    <td>{{ data.kode_simpanan }}</td>
                                    <td>{{ data.nama_nasabah }}</td>
                                    <td>{{ convertNumber(data.total_simpanan) }}</td>
                                    <td>{{ checkStatus(data.status_simpanan) }}</td>
                                    <td>
                                        <ul class="btn-table">
                                            <li><a href="/admin/simpanan/{{ data.kode_simpanan }}/create" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Transaksi</a></li>
                                            <li><a href="/admin/simpanan/{{ data.kode_simpanan }}/mutasi" class="btn btn-sm btn-info"><i class="fa fa-eye"></i> Detail</a></li>
                                            <li><a href="#" data-toggle="modal" data-target="#editModal" id="{{ data.kode_simpanan }}" class="btn btn-sm btn-warning show-form"><i class="fa fa-cog"></i> Edit</a></li>                                            
                                        </ul>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="4" class="text-right">Total Simpanan</td>
                                    <td>: </td>
                                    <td class="text-bold">{{ convertNumber(total) }}</td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Simpanan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/simpanan/update" method="post">
                    <input type="hidden" name="kode_simpanan" class="simpanan_field" value="">

                    <div class="form-group">
                        <label>Status Simpanan</label>
                        <select name="status_simpanan" required class="form-control">
                            <option value=""> - Pilih - </option>
                            <option value="1">Aktif</option>
                            <option value="0">Tidak Aktif</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Simpan Perubahan">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}

<script>

$(document).ready(function(){
    $('.show-form').click(function(){
        var no_nasabah = $(this).attr('id');
        
        $('.simpanan_field').val(no_nasabah);
    });
});

</script>

{% endblock %}