{% extends "layouts/master.php" %}

{% block head %}
Data Mutasi Nasabah {{ simpanan.nama_nasabah }}
{% endblock %}

{% block title %}
Data Mutasi Nasabah
{% endblock %}

{% block content %}

<section>
    <div class="container-fluid">
        <a href="/admin/simpanan">< Kembali</a>
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Mutasi Nasabah {{ simpanan.nama_nasabah }}</h3>
                        </div>
                        <table class="table" id="my-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>No. Nasabah</th>
                                    <th>Tanggal</th>
                                    <th>Jumlah</th>
                                    <th>Jenis Mutasi</th>
                                    <th>Keterangan</th>
                                    <th>Petugas</th>
                                    <th>Print</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for data in mutasi %}
                                {% set number = ( number | default(0) ) + 1 %}

                                <tr>
                                    <td>{{ number }}</td>
                                    <td>{{ simpanan.kode_simpanan }}</td>
                                    <td>{{ data.tanggal }}</td>
                                    <td>{{ convertNumber(data.jumlah) }}</td>
                                    <td>{{ getJenis(data.jenis_mutasi) }}</td>
                                    <td>{{ data.keterangan }}</td>
                                    <td>{{ data.nama_user }}</td>
                                    <td><a href="/admin/simpanan/{{ simpanan.kode_simpanan }}/mutasi/print?id={{data.id}}">Print</a></td>
                                    
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}