{% extends "layouts/master.php" %}

{% block head %}
Tambah Angsuran
{% endblock %}

{% block title %}
Tambah Angsuran
{% endblock %}

{% block content %}


<section>
    <div class="container-fluid">
            <a href="/admin/pinjaman">< Kembali</a>
            <br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h4">Form Angsuran</h3>
                    </div>
                    <div class="card-body">
                        <p>Mohon mengisi seluruh data dibawah.</p>
                        <form action="/admin/pinjaman/{{ pinjaman.id_pinjaman }}/angsuran/store" method="post">
                            
                            <div class="form-group">
                                <label class="form-control-label">Jumlah Angsuran</label>
                                <input type="number" name="jumlah_angsuran" required class="form-control" placeholder="Jumlah Angsuran">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Keterangan</label>
                                <input type="text" name="keterangan" required placeholder="Keterangan" class="form-control">
                            </div>
                            <div class="form-grop">
                                <input type="submit" class="btn btn-primary pull-right" value="Simpan">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}